gaoqiang_env/*
wk5/wk5-mnn-chapter_3/data/._yelp
wk5/wk5-mnn-chapter_3/data/._download.py
wk5/wk5-mnn-chapter_3/data/._get-all-data.sh
wk5/wk5-mnn-chapter_3/data/._README.md
wk5/wk5-mnn-chapter_3/data/yelp/._raw_test.csv
wk5/wk5-mnn-chapter_3/data/yelp/._raw_train.csv
wk5/wk5-mnn-chapter_3/data/yelp/._reviews_with_splits_full.csv
wk5/wk5-mnn-chapter_3/data/yelp/._reviews_with_splits_lite.csv
wk5/wk5-mnn-chapter_3/data/yelp/raw_test.csv
wk5/wk5-mnn-chapter_3/data/yelp/raw_train.csv
wk5/wk5-mnn-chapter_3/data/yelp/reviews_with_splits_full.csv
wk5/wk5-mnn-chapter_3/data/yelp/reviews_with_splits_lite.csv
wk2/wk2-text-preprocessing-classification/__pycache__/textpreprocess.cpython-312.pyc
/labassignment-1/data
